h1 { color: white; 
    	background-color: red; 
    	padding-left: 600px;
    	padding-right: 10px; 
    	padding-top: 5px;
    	 padding-bottom: 5px;
    	 size: 45; }
h3 {color: black; 
    	padding-left: 550px;
    	padding-right: 10px; 
    	padding-top: 5px;
    	 padding-bottom: 5px;
    	 size: 45; }

 #p1 { color: black; 
    	padding-left: 450px;}  	

#doo {color: white;}

#do {color: white;}

